# Git Ignore
# #####################################
# OTIS
*.log # Ignore logs

# #####################################
# VSCode
*__pycache__
**/__pycache__

# #####################################
# pytest cache
*.pytest_cache
**/.pytest_cache

# #####################################
# macOS
*.DS_Store